In [1]:
from data_import import clean_and_save_data, load_data

# Data Preparation

Firstly, you have to properly process data from pickle files. Use `clean_and_save_data`

In [2]:
df1, df2 = clean_and_save_data()

In [6]:
df1.head()

       User             Title  Rating
0  adam_lub  Każdy wie lepiej     6.0
1  adam_lub         Slow West     7.0
2  adam_lub        Pod słońce     7.0
3  adam_lub     Serce Jamajki     7.0
4  adam_lub           Eskorta     6.0

In [7]:
df2.head()

,Title,Year,Genre,Actor,Avg_rating,Number_of_ratings
0,Każdy wie lepiej,2022,Komedia obycz.,Joanna Kulig,4.7,1853
1,Każdy wie lepiej,2022,Komedia obycz.,Michał Czernecki,4.7,1853
2,Slow West,2015,Western,Kodi Smit-McPhee,6.7,18107
3,Slow West,2015,Western,Michael Fassbender,6.7,18107
4,Pod słońce,2005,Dramat,Claire Forlani,6.8,2300

`df1` and `df2` will be saved to csv files. After running `clean_and_save_data`. For further analysis you can simply run `load_data` method

In [3]:
df1, df2 = load_data()

In [8]:
df1.head()

       User             Title  Rating
0  adam_lub  Każdy wie lepiej     6.0
1  adam_lub         Slow West     7.0
2  adam_lub        Pod słońce     7.0
3  adam_lub     Serce Jamajki     7.0
4  adam_lub           Eskorta     6.0

In [9]:
df2.head()

,Title,Year,Genre,Actor,Avg_rating,Number_of_ratings
0,Każdy wie lepiej,2022,Komedia obycz.,Joanna Kulig,4.7,1853
1,Każdy wie lepiej,2022,Komedia obycz.,Michał Czernecki,4.7,1853
2,Slow West,2015,Western,Kodi Smit-McPhee,6.7,18107
3,Slow West,2015,Western,Michael Fassbender,6.7,18107
4,Pod słońce,2005,Dramat,Claire Forlani,6.8,2300