In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from data_import import clean_and_save_data, load_data

# Data Preparation

Firstly, you have to properly process data from pickle files. Use `clean_and_save_data`

In [5]:
df1, df2 = clean_and_save_data()

In [6]:
df1.head()

        User            Title  Rating
0  79villemo  Cząstki kobiety     7.0
1  79villemo   Palmy w śniegu     7.0
2  79villemo    Małe kobietki     8.0
3  79villemo    Kwiat pustyni     7.0
4  79villemo               To     6.0

In [7]:
df2.head()

,Title,Year,Genre,Actor,Avg_rating,Number_of_ratings
0,Cząstki kobiety,2020,Dramat,Vanessa Kirby,7.1,26670
1,Cząstki kobiety,2020,Dramat,Shia LaBeouf,7.1,26670
2,Palmy w śniegu,2015,Dramat,Mario Casas,7.6,17870
3,Palmy w śniegu,2015,Dramat,Adriana Ugarte,7.6,17870
4,Małe kobietki,2019,Melodramat,Saoirse Ronan,7.4,69798

`df1` and `df2` will be saved to csv files. After running `clean_and_save_data`. For further analysis you can simply run `load_data` method

In [8]:
df1, df2 = load_data()

In [9]:
df1.head()

        User            Title  Rating
0  79villemo  Cząstki kobiety     7.0
1  79villemo   Palmy w śniegu     7.0
2  79villemo    Małe kobietki     8.0
3  79villemo    Kwiat pustyni     7.0
4  79villemo               To     6.0

In [10]:
df2.head()

,Title,Year,Genre,Actor,Avg_rating,Number_of_ratings
0,Cząstki kobiety,2020,Dramat,Vanessa Kirby,7.1,26670
1,Cząstki kobiety,2020,Dramat,Shia LaBeouf,7.1,26670
2,Palmy w śniegu,2015,Dramat,Mario Casas,7.6,17870
3,Palmy w śniegu,2015,Dramat,Adriana Ugarte,7.6,17870
4,Małe kobietki,2019,Melodramat,Saoirse Ronan,7.4,69798

In [11]:
df1.head()

        User            Title  Rating
0  79villemo  Cząstki kobiety     7.0
1  79villemo   Palmy w śniegu     7.0
2  79villemo    Małe kobietki     8.0
3  79villemo    Kwiat pustyni     7.0
4  79villemo               To     6.0

In [12]:
df1.nunique()

User       312
Title     7770
Rating      10
dtype: int64

In [13]:
len(df1)

36931

In [14]:
df2.head()

,Title,Year,Genre,Actor,Avg_rating,Number_of_ratings
0,Cząstki kobiety,2020,Dramat,Vanessa Kirby,7.1,26670
1,Cząstki kobiety,2020,Dramat,Shia LaBeouf,7.1,26670
2,Palmy w śniegu,2015,Dramat,Mario Casas,7.6,17870
3,Palmy w śniegu,2015,Dramat,Adriana Ugarte,7.6,17870
4,Małe kobietki,2019,Melodramat,Saoirse Ronan,7.4,69798

In [15]:
df2.nunique()

Title                7770
Year                  111
Genre                 101
Actor                7269
Avg_rating            538
Number_of_ratings    8558
dtype: int64